@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply font-montserrat text-gray-800;
}

.heading-1 {
  @apply text-3xl font-extrabold;
}

.nav-open #navbar {
  @apply left-0;
}

.no-transition #navbar {
  @apply transition-none;
}

.nav-open #dashboard-main {
  @apply ml-[calc(95.163px+8px+8px+8px+1.6px+1.6px)] sm:ml-[calc(122.350px+8px+8px+8px+1.6px+1.6px)];
}

.nav-open #app-main {
  @apply ml-[calc(80.575px+8px+8px+8px+1.6px+1.6px)] sm:ml-[calc(105.337px+8px+8px+8px+1.6px+1.6px)];
}

.no-transition * {
  @apply transition-none;
}
